/**/

h1 {
  font-size: 30px;
  background: linear-gradient(to right, #f700ff, #00ff95);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.copyBtn {
  margin-left: 10px;
  background-color: #c4c4c4;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.copyBtn:hover {
  background-color: #aaaaaa;
}

.getFullBtn, .getPartBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.getFullBtn {
  background-color: #99AFFF;
}

.getFullBtn:hover {
  background-color: #86A1FF;
}

.getPartBtn {
  background-color: #61E0BA;
}

.getPartBtn:hover {
  background-color: #26E1A9;
}

/**/